<div id="registrazioneForm">
  <input type="text" placeholder="nickName" [(ngModel)]="nickname">
  <button (click)="registra()">Registrazione</button>
  <br><br>
</div>
<input type="text" placeholder="messaggio">
<button (click)="inviaATutti()">Invia a tutti</button>
<br>
<div>
  <h2>Contatti</h2>
  <table>
    <th>
      Nickname
    </th>
    <th>
      Column0
    </th>
    <th>
      Column1
    </th>
  </table>
</div>

<div>
  <h2>Messaggi ricevuti: </h2>
  <button (click)="aggiorna()">Aggiorna</button>
  <table>
    <th>
      Column0
    </th>
    <th>
      Column1
    </th>
    <th>
      Column2
    </th>
  </table>
</div>